$primary:   #202020;
$secondary: #121212;
$white:     #fff;
$red:       #ED3024;
$blue:      #3137C9;

$bp-1228: 1228px;
$bp-1180: 1180px;
$bp-1020: 1020px;
$bp-800: 800px;
$bp-750: 750px;
$bp-650: 650px;
$bp-600: 600px;
$bp-550: 550px;
$bp-500: 500px;
$bp-450: 450px;
$bp-400: 400px;