<footer class="footer">
    <div class="container">
        <div class="footer__connected">
            <div class="title"><span>Следите за нами</span></div>
            <div>
                <a  href="https://youtube.com/playgwent" target="_blank">
                    <i class="ic1 icon-footer-yt"></i>
                </a>
                <a  href="https://www.facebook.com/GwentRU" target="_blank">
                    <i class="ic1 icon-footer-fb"></i>
                </a>
                <a  href="https://twitter.com/Gwent_RU" target="_blank">
                    <i class="ic1 icon-footer-twitter"></i>
                </a>
                <a  href="https://vk.com/gwent_ru" target="_blank">
                    <i class="ic1 icon-footer-vk"></i>
                </a>
                <a  href="https://discord.gg/playgwent" target="_blank">
                    <i class="ic1 icon-footer-discord"></i>
                </a>
            </div>
        </div>
        <nav class="footer__nav" data-analytics-region="footer nav">
            <section class="ratings" data-analytics-region="footer ratings">
                <ul class="menu">
                    <li><i class="rating rating-russian"></i></li>
                    <li><a data-analytics-title="rating-pegi" href="http://www.pegi.info" target="_blank">
                            <img class="lazy pegi" alt="PEGI 16" width="56" height="68" src="assets/images/pegi-16-ede83370.png" style="">
                        </a>
                        <img class="rh lazy" alt="" width="56" height="56" src="assets/images/bad-language.png" style="">
                        <img class="rh lazy" alt="" width="56" height="56" src="assets/images/in-game-payments-ru-1477814a.png" style="">
                    </li>
                    <li>
                        <a data-analytics-title="rating-esrb" href="http://www.esrb.org" target="_blank">
                            <i class="rating rating-esrb"></i>
                        </a>
                    </li>
                    <li><i class="rating rating-australia"></i></li>
                </ul>
            </section>
            <ul class="nav">
                <li>
                    <a data-analytics-title="faq" href="/ru/faq">FAQ</a>
                </li>
                <li>
                    <a data-analytics-title="user-agreement" href="/ru/user-agreement">Пользовательское соглашение (обновленное)</a>
                </li>
                <li>
                    <a data-analytics-title="fan-content-guidelines" href="/ru/fan-content">Создание фан-контента</a>
                </li>
                <li>
                    <a data-analytics-title="privacy" href="https://support.gog.com/hc/ru/articles/212632109-Политика-Конфиденциальности">Политика конфиденциальности (обновленная)</a>
                </li>
                <li>
                    <a data-analytics-title="cookie" href="https://support.gog.com/hc/ru/articles/115000498685-%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0-cookie" target="_blank">Политика использования cookie</a>
                </li>
                <li>
                    <a class="footer__cookie-declaration" href="#">Уведомление о файлах cookie</a>
                </li>
                <li>
                    <a data-analytics-title="contact" href="/ru/contact-support">Контакты</a>
                </li>
                <li>
                    <a data-analytics-title="press" href="http://press.cdprojektred.com/" target="_blank">Пресс-центр</a>
                </li>
            </ul>
            <section>
                <p class="footer__copyright">Администратором сайта является GOG Sp. z o.o. © 2020 CD PROJEKT S.A. ВСЕ ПРАВА СОХРАНЕНЫ.</p>
                <div class="footer__logos">
                    <a href="https://cdprojektred.com">
                        <img class="logo-cdpred lazy" alt="CD PROJEKT RED" height="102" src="assets/images/CDProjektRed-White-ddc054ff.svg" style="">
                    </a>
                    <a href="https://www.gog.com/">
                        <img class="logo-gog lazy" alt="GOG.com" height="45" src="assets/images/GOG-White-e91b2d43.svg" style="">
                    </a>
                </div>
                <p class="footer__trademark">CD PROJEKT®, The Witcher® и GWENT® являются зарегистрированными товарными знаками CD PROJEKT Capital Group. GWENT © CD PROJEKT S.A. Все права сохраняются за их владельцами. Разработано CD PROJEKT S.A. Действие игры «ГВИНТ» разворачивается во вселенной, созданной Анджеем Сапковским в его серии книг. Все остальные авторские права и товарные знаки являются собственностью их соответствующих владельцев.</p>
            </section>
        </nav>
    </div>
</footer>
