<header class="header">
        <div class="header__inner">
            <div class="header__inner-btn">
                <span class="header-menu__left-bar bar-one"></span>
                <span class="header-menu__left-bar bar-two"></span>
                <span class="header-menu__left-bar bar-three"></span>
            </div>

            <div class="header__inner-game1180">
                <span data-text="ИГРАЙТЕ БЕСПЛАТНО!">ИГРАЙТЕ БЕСПЛАТНО!</span>
            </div>
            <div class="header__inner-avatar1180">
                <a href="#" class="header-menu__profile-login-mobile">
                    <div class="header-menu__profile-avatar">
                        <img src="">
                    </div>
                    <span data-text="Войти">Войти</span>
                </a>
            </div>
            <div class="header__inner-logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="header__inner-nav">
                <nav class="header-nav">
                    <ul class="header-ul">
                        <li class="header__link"> <a href="">Об игре</a></li>
                        <li class="header__link"> <a href="">Новости</a></li>
                        <li class="header__link"> <a href="">Комплекты карт</a></li>
                        <li class="header__link"> <a href="">Колоды</a></li>
                        <li class="header__link"> <a href="">Киберспорт</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__inner-login">
                <div class="header__inner-avatar"></div>
                <div class="header__inner-log">
                    <span data-text="Войти">
                        Войти
                    </span>
                </div>
            </div>
            <div class="header__inner-game">
                <a href="">Играйте бесплатно!</a>
            </div>
        </div>
</header>
<div class="modal-burger">
    <div class="modal-burger__close">
        <span class="mobile-bar-one"></span>
        <span class="mobile-bar-two"></span>
        <span class="mobile-bar-three"></span>
    </div>
    <div class="modal-burger__img">
        <img src="assets/images/logo-gwent-big-ru.png" alt="">
    </div>
    <div class="modal-burger__nav">
        <nav class="burger-nav">
            <ul class="burger-ul">
                <li class="burger__link"> <a href="">Об игре</a></li>
                <li class="burger__link"> <a href="">Новости</a></li>
                <li class="burger__link"> <a href="">Комплекты карт</a></li>
                <li class="burger__link"> <a href="">Колоды</a></li>
                <li class="burger__link"> <a href="">Киберспорт</a></li>
                <li class="burger__link"> <a href="">играй бесплатно</a></li>
                <li class="burger__link"> <a href="">faq</a></li>
            </ul>
        </nav>
    </div>
</div>